body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 16px; /* Base font size for easy scaling */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2a5915;
    color: #ffc72c;
    padding: 0px;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-icon {
    height: 64px;
    margin-right: 15px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffc72c;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a.active {
    text-decoration: underline;
}

#content {
    background-color: #fff;
    padding: 100px;
    flex: 1; /* Flex-grow to take available space */
    padding-bottom: 150px; /* Extra space for the footer */
}

footer {
    background-color: #2a5915;
    color: #ffc72c;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Changed from fixed to relative */
    width: 100%;
}

#history {
    font-family: 'Playfair Display', serif;
    background: #F5F5DC;
    color: #5A463A;
    padding: 20px; /* Added padding */
    border: 2px solid #D3A625;
    margin: 0px;
    width: 100%;
    /* Removed fixed height and overflow properties */
}

#history h2, #history h3 {
    color: #7B4B0F;
    border-bottom: 1px solid #D3A625;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

#history p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.6;
}

.tabContent {
    width: 100%;
    display: none;
}

.tabContent.active {
    display: block;
}

.event-table {
    width: 100%;
    border-collapse: collapse;
}

.event-table th, .event-table td {
    padding: 8px 15px;
    border: 1px solid #b0c4de;
}

.event-table th {
    background-color: #3a5fcd;
    color: #ffffff;
}

.event-table tr.royal-arch td {
    background-color: #8b0000;
    color: #ffffff;
}

.event-table tr.working td {
    background-color: #2a5815;
    color: #ffffff;
}

.event-table tr.general td {
    background-color: #b9b9bf;
    color: #09160e;
}

.event-table tr.installation td {
    background-color: #daa520;
    color: #2c3e50;
}

.event-table tr.kt td {
    background-color: #ffffff;
    color: #bf2d41;
}

.legend {
    padding-bottom: 20px;
}

.legend li {
    position: relative;
    list-style-type: none;
    padding-left: 20px;
}

.legend li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    background-color: #3a5fcd;
}

.legend li.general:before {
    background-color: #b9b9bf;
}

.legend li.working:before {
    background-color: #2a5815;
}

.legend li.royal-arch:before {
    background-color: #8b0000;
}

.legend li.kt:before {
    background-color: #ffffff;
}

.legend li.installation:before {
    background-color: #daa520;
}

.events-scroll-container {
    background: #F5F5DC;
    color: #5A463A;
    border: 2px solid #D3A625;
    margin: 0px;
    width: 100%;
    height: calc(100vh - 200px);
    overflow: auto;
}

/*.timeline-container {*/
/*    width: 80%;*/
/*    margin: 50px auto;*/
/*    position: relative;*/
/*    background-color: #f9f9f9;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
/*}*/

.timeline-slider {
    width: 100%;
    margin-bottom: 20px;
}

.timeline-event {
    display: none;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.timeline-event h3 {
    margin-top: 0;
    color: #333;
}

.timeline-event p {
    color: #666;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #B5B5B5;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

.slider-container {
    flex-grow: 1;
    margin: 0 15px;
    position: relative;
}

#dateIndicator {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    padding: 3px 10px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

.disclaimer {
    background-color: #ffe58f;
    border: 1px solid #ffa940;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-style: italic;
    font-size: 0.9em;
}

#popup-window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.close-btn:hover {
    color: black;
}

#map {
    width: 100%;
    height: 400px;
}

.smaller-image img {
    height: 40vh;
    width: auto;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for mobile */
    }


    .header-content {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .popup-content {
        width: 90%;
    }

    .timeline-container {
        width: 100%;
        margin: 20px 0;
        /* Ensure no fixed height or overflow is set here */
    }


    .smaller-image img {
        max-width: 100%;
        height: auto;
    }
    .contact-info, .contact-form {
        margin-bottom: 20px;
    }

    .contact-form label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        color: #333;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .contact-form textarea {
        height: 150px; /* Increased height */
        resize: vertical; /* Allow vertical resize */
    }

    .contact-form button {
        background-color: #00458b;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .contact-form button:hover, .contact-form button:focus {
        background-color: #003366;
        outline: none;
    }
    #content {
        padding: 50px; /* Adjust padding for mobile */
        padding-bottom: 150px; /* Extra space for the footer */
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .contact-form input[type="text"],
        .contact-form input[type="email"],
        .contact-form textarea {
            padding: 10px;
        }
    }
    #content {
        padding: 50px; /* Adjust padding for mobile */
        padding-bottom: 150px; /* Extra space for the footer */
    }


}
